*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url(./timon-studler-1xJ3qTjAJU8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
nav{
    /* background-color: red; */
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  4rem 8rem;
}
.navLeft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}
.navLeft > span {
    font-size: 1.4rem;
}
.navLeft >  h2{
    font-weight: 400;
    font-size: 1.4rem;
}
.navRight > ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.1rem;
}
.navRight > ul > li:last-child > a{
    background-color: rgba(255, 255, 255, 0.221);
    border: 2px solid white;
    padding: .3rem;
    border-radius: .8rem;
}
.hero {
    padding:  4rem 8rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    opacity: .6;

}
.hero > h1{
    font-size: 4vw;

}
.hero > h3{
    font-size: 2.5vw;
    font-weight: 400;
}
.hero > p{
    font-size: .9rem;
    opacity: .4;

}
.hero > .buttons{
    display: flex;
    gap: 3rem;
}
.hero > .buttons > button{
    background-color: rgba(255, 255, 255, 0.221);
    border: 2px solid white;
    padding: .5rem 1rem;
    border-radius: .8rem;
    font-size: 1.5rem;
    color: white;
}